.footer {
    background-color: var(--color-dark);
    color: var(--color-light);
    width: 100vw;
    min-width: 320px;
    left: calc(-50vw + 50%);
    position: relative;
    margin-bottom: -100px;
    padding-top: 42px;
    flex: 0 0 auto;

    display: grid;
    grid-template-areas: "information information contacts" "social social social";
    justify-content: center;

    @include laptop-l {
        grid-template-areas: "information contacts" "social social";
    }

    @include mobile-l {
        @include flex-col;
        align-items: center;
    }

    &__top {
        display: flex;
        column-gap: clamp(20px, 14.32vw, 275px);

        @include mobile-l {
            @include flex-col;
            row-gap: var(--gap);
        }
    }

    &__information {
        grid-area: information;

        &-list {
            @include flex-row;
            column-gap: var(--gap);

            @include laptop {
                @include flex-col;
                row-gap: 32px;
            }

            @include mobile-l {
                row-gap: var(--gap);
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            row-gap: var(--gap);
            width: clamp(140px, calc((267/ 1920) * 100vw), 267px);

            &>.item__link {
                cursor: pointer;
                color: var(--color-gray);

                &:hover {
                    color: var(--color-accent);
                }
            }

            &>.item__heading {
                font-size: 1.5rem;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: var(--gap);

                @include laptop-l {
                    margin-bottom: 8px;
                }
            }
        }

        @include mobile-l {
            margin-bottom: var(--gap);
        }
    }

    &__contacts {
        grid-area: contacts;

        &-list {
            @include flex-col;
            row-gap: 18px;
        }

        &-item {
            @include flex-row;
            column-gap: clamp(8px, 5.76vw, var(--gap));
        }
    }

    &__socials {
        grid-area: social;
        padding-top: 176px;
        padding-bottom: 104px;
        position: relative;
        overflow: hidden;

        &-list {
            @include flex-row;
            column-gap: 32px;
            justify-content: center;
        }

        &-icon>svg {
            @include square(50px);
            @include fluid-square(50, 20);

        }

        @include mobile-l {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        @include laptop {
            padding-top: 100px;
            padding-bottom: 50px;
        }

        @include laptop-above {

            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 45%;
                background-color: var(--color-gray);
                top: 200px;
            }

            &::after {
                right: -200px;
            }

            &::before {
                left: -200px;
            }
        }

    }
}