.form {
    border-radius: var(--border-radius-large);
    @include flex-justify-space-between;

    &--white {
        background-color: var(--color-light);
    }

    &--gray {
        background-color: var(--color-light-gray);
    }

    &__input {
        padding: 20px 19px;
        width: 100%;

        &--gray {
            &::placeholder {
                color: var(--color-gray);
            }
        }

        &--white {
            &::placeholder {
                color: #D9D9D9;
            }
        }

    }

    &__label {
        margin-right: 19px;

        &>svg {
            @include square(26px);

            @include laptop-l {
                @include square(20px);
            }
        }
    }
}