.home {
    &__info-cards, &__news{
        @include flex-row;
        justify-content: space-between;
        gap: var(--gap);
        margin-bottom: var(--margin-bottom);

        @media(max-width: 1345px) {
            gap: 10px;
        }

        @media (max-width:978px) {
            @include flex-col;
        }
    }

    &__news{
        &__title{

        }
    }

}