@import "mixins";
@import "media";

html,
body {
    @include fluid-text(20, 14);

    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: var(--font-family-base);
    font-weight: 400;
    height: 100%;
    margin: 0;
    white-space: nowrap;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1676px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;

    @media (max-width: 1784px) {
        padding: 0 clamp(20px, 6vw, 122px);
    }
}

main {
    flex: 1;
}

.link {
    &:hover {
        color: var(--color-accent);
    }
}