$laptop-l: 1440px;
$laptop-l-above: 1441px;

$laptop: 1023px;
$laptop-above: 1024px;

$tablet: 767px;
$tablet-above: 768px;

$mobile-l: 425px;
$mobile-l-above: 426px;

$mobile-m: 375px;
$mobile-m-above: 376px;

$mobile-s: 320px;
$mobile-s-above: 321px;

@mixin laptop-l-above {
    @media (min-width: $laptop-l-above) {
        @content;
    }
}

@mixin laptop-l {
    @media (max-width: $laptop-l) {
        @content;
    }
}

@mixin laptop-above {
    @media (min-width: $laptop-above) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: $laptop) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin mobile-l-above {
    @media (min-width: $mobile-l-above) {
        @content;
    }
}

@mixin mobile-l {
    @media (max-width: $mobile-l) {
        @content;
    }
}

@mixin mobile-m-above {
    @media (min-width: $mobile-m-above) {
        @content;
    }
}

@mixin mobile-m {
    @media (max-width: $mobile-m) {
        @content;
    }
}

@mixin mobile-s-above {
    @media (min-width: $mobile-s-above) {
        @content;
    }
}

@mixin mobile-s {
    @media (max-width: $mobile-s) {
        @content;
    }
}


@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}