@mixin fluid-text($max: 32, $min: 14) {
    font-size: clamp(#{$min}px,
        #{calc(($max/ 1920) * 100)}vw,
        #{$max}px);
}

@mixin fluid-size($maxW, $minW, $maxH, $minH) {
    width: clamp(#{$minW}px,
        #{calc(($maxW / 1920) * 100)}vw,
        #{$maxW}px);

    height: clamp(#{$minH}px,
        #{calc(($maxH / 1920) * 100)}vw,
        #{$maxH}px);
}

@mixin fluid-square($max, $min) {

    width: clamp(#{$min}px,
        #{calc(($max/ 1920) * 100)}vw,
        #{$max}px);

    aspect-ratio: 1;
}

@mixin reset-link {
    color: inherit;

    &,
    &:hover {
        text-decoration: none;
    }
}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin flex-center($IsInline: false) {
    @if $IsInline {
        display: inline-flex;
    }

    @else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin square($size) {
    width: $size;
    aspect-ratio: 1;
}

@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-justify-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}